 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1161px;
}

.u-section-1 .u-shape-1 {
  width: 1120px;
  height: 990px;
  margin: 86px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 569px;
  height: 569px;
  background-image: url("images/italy5.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -998px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 541px;
  min-height: 532px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -265px auto 60px 159px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  text-transform: uppercase;
  margin: 29px auto 0 0;
  padding: 10px 52px 10px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1045px;
  }

  .u-section-1 .u-shape-1 {
    height: 848px;
    margin-top: 127px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: -905px;
  }

  .u-section-1 .u-group-1 {
    width: 485px;
    min-height: 456px;
    margin-top: -244px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1118px;
  }

  .u-section-1 .u-shape-1 {
    height: 713px;
    margin-top: 402px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-top: -978px;
  }

  .u-section-1 .u-group-1 {
    min-height: 411px;
    margin-top: -80px;
    margin-left: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1017px;
  }

  .u-section-1 .u-shape-1 {
    height: 582px;
    width: 527px;
    margin-top: 375px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 498px;
    height: 498px;
    margin-top: -887px;
  }

  .u-section-1 .u-group-1 {
    width: 416px;
    min-height: 359px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-1 .u-shape-1 {
    height: 432px;
    width: 381px;
    margin-top: 184px;
    margin-left: -21px;
    margin-right: -21px;
  }

  .u-section-1 .u-image-1 {
    width: 201px;
    height: 201px;
    margin-top: -490px;
  }

  .u-section-1 .u-group-1 {
    width: 280px;
    min-height: 344px;
    margin-top: -64px;
    margin-bottom: 38px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 12px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 13px;
    padding: 4px 8px 5px 7px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 180px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 50px auto 0 437px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -31px 423px 29px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 361px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 349px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 277px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 267px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 208px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 90px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 17px;
    margin-left: 131px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -9px;
    margin-right: 101px;
    margin-bottom: 17px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 538px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1113px;
  margin: 20px 0 41px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 487px;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 22px 0;
}

.u-section-3 .u-text-1 {
  margin: 41px 51px 0 9px;
}

.u-section-3 .u-text-2 {
  margin: 26px 51px 0 9px;
}

.u-section-3 .u-line-1 {
  width: 383px;
  margin: 30px auto 0 9px;
}

.u-section-3 .u-text-3 {
  margin: 51px 45px 0 15px;
}

.u-section-3 .u-text-4 {
  margin: 20px 45px 0 15px;
}

.u-section-3 .u-text-5 {
  margin: 8px 46px 0 0;
}

.u-section-3 .u-icon-1 {
  font-size: 1.6876em;
}

.u-section-3 .u-image-1 {
  min-height: 487px;
  background-image: url("images/mall2.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 12px 0 201px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    min-height: 435px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-line-1 {
    height: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-scale: 0.3;
    min-height: 435px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-line-1 {
    width: 355px;
  }

  .u-section-3 .u-image-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 14px;
    margin-bottom: 49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 269px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 1027px;
}

.u-section-4 .u-image-1 {
  height: 361px;
  object-position: 0% 19.43%;
  width: 573px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 124deg;
  --animation-custom_in-scale: 0.3;
  margin: 666px 0 0 auto;
}

.u-section-4 .u-shape-1 {
  height: 217px;
  width: calc(((100% - 1140px) / 2) + 688px);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: -822px auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 840px;
  margin: -347px auto 60px calc(((100% - 1140px) / 2) + 150px);
}

.u-section-4 .u-layout-cell-1 {
  min-height: 435px;
}

.u-section-4 .u-container-layout-1 {
  padding: 23px 0;
}

.u-section-4 .u-image-2 {
  width: 375px;
  height: 375px;
  background-image: url("images/venice2.jpg");
  background-position: 50% 50%;
  --animation-custom_in-scale: 0.3;
  margin: 7px auto -7px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 270px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  margin: 0 7px 0 12px;
}

.u-section-4 .u-icon-1 {
  font-size: 1.6876em;
}

.u-section-4 .u-text-2 {
  margin: 20px 7px 0 12px;
}

.u-section-4 .u-icon-2 {
  font-size: 1.6876em;
}

.u-section-4 .u-text-3 {
  margin: 20px 7px 0 12px;
}

.u-section-4 .u-icon-3 {
  font-size: 1.6876em;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 201px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 460px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 0;
}

.u-section-4 .u-text-4 {
  margin: 0 19px 0 30px;
}

.u-section-4 .u-text-5 {
  margin: 26px 18px 0 30px;
}

.u-section-4 .u-text-6 {
  margin: 19px 19px 0 12px;
}

.u-section-4 .u-icon-4 {
  font-size: 1.6876em;
}

.u-section-4 .u-text-7 {
  margin: 40px 19px 0 11px;
}

.u-section-4 .u-icon-5 {
  font-size: 1.6876em;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    height: 274px;
    width: 464px;
    margin-top: 686px;
    animation-duration: 1000ms;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 688px);
    margin-top: -755px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1438px;
  }

  .u-section-4 .u-image-1 {
    height: 344px;
    width: 575px;
    margin-top: 1099px;
  }

  .u-section-4 .u-shape-1 {
    height: 305px;
    width: calc(((100% - 720px) / 2) + 454px);
    margin-top: -1288px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 510px;
    margin-top: -389px;
    margin-right: calc(((100% - 720px) / 2) + 90px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-4 .u-image-2 {
    width: 403px;
    height: 403px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 333px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1224px;
  }

  .u-section-4 .u-image-1 {
    height: 320px;
    width: 555px;
    margin-top: 1095px;
  }

  .u-section-4 .u-shape-1 {
    height: 221px;
    width: calc(((100% - 540px) / 2) + 378px);
    margin-top: -1268px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -337px;
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 441px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 250px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1419px;
  }

  .u-section-4 .u-image-1 {
    height: 261px;
    width: 340px;
    margin-top: 1128px;
  }

  .u-section-4 .u-shape-1 {
    height: 268px;
    width: calc(((100% - 340px) / 2) + 236px);
    margin-top: -1303px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -334px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 406px;
    order: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 12px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-4 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 157px;
    order: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    order: 1;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 557px;
}

.u-section-5 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 35px auto 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 522px;
  background-image: url("images/outlet.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 522px;
}

.u-section-5 .u-container-layout-2 {
  padding: 25px 0 25px 40px;
}

.u-section-5 .u-group-1 {
  min-height: 439px;
  background-image: none;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 9px 0 29px;
}

.u-section-5 .u-text-1 {
  margin: 25px 0 0 30px;
}

.u-section-5 .u-text-2 {
  margin: 11px 11px 0 30px;
}

.u-section-5 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px 13px 0;
}

.u-section-5 .u-icon-1 {
  font-size: 1.6876em;
}

.u-section-5 .u-text-4 {
  margin: 13px 13px 0;
}

.u-section-5 .u-icon-2 {
  font-size: 1.6876em;
}

.u-section-5 .u-text-5 {
  margin: 13px 13px 0;
}

.u-section-5 .u-icon-3 {
  font-size: 1.6876em;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 583px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-5 .u-image-1 {
    min-height: 488px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 482px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 365px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-5 .u-image-1 {
    min-height: 374px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 613px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-5 .u-image-1 {
    min-height: 561px;
    order: 1;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 50px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 865px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 376px);
    margin-top: 0;
    margin-bottom: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 283px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 552px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 25px 30px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 990px;
}

.u-section-6 .u-shape-1 {
  width: 937px;
  height: 616px;
  background-image: none;
  margin: 178px 47px 0 auto;
}

.u-section-6 .u-image-1 {
  width: 940px;
  height: 622px;
  margin: -684px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  width: 767px;
  margin: -217px auto 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 254px;
  grid-gap: 30px 30px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 17px;
}

.u-section-6 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 15px auto 0;
}

.u-section-6 .u-text-1 {
  font-style: italic;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 0.875rem;
  margin: 31px 0 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 17px;
}

.u-section-6 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 15px auto 0;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  font-weight: 700;
  text-transform: none;
  font-size: 0.875rem;
  letter-spacing: normal;
  margin: 31px 0 0;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 17px;
}

.u-section-6 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 15px auto 0;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  font-weight: 700;
  text-transform: none;
  font-size: 0.875rem;
  letter-spacing: normal;
  margin: 31px 0 0;
}

.u-section-6 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: -546px 100px 0;
}

.u-section-6 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 22px 100px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-shape-1 {
    margin-right: 3px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 20px));
  }

  .u-section-6 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
    width: 383px;
  }

  .u-section-6 .u-text-5 {
    width: 383px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-6 .u-shape-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 476px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
    margin-top: -71px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 210px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-6 .u-shape-1 {
    width: 540px;
  }

  .u-section-6 .u-image-1 {
    object-position: 88.59% 50%;
    width: 540px;
    height: 357px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
    margin-top: 48px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 459px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-6 .u-shape-1 {
    width: 340px;
    height: 238px;
    margin-top: 15px;
    margin-right: -31px;
  }

  .u-section-6 .u-image-1 {
    object-position: 100% 50%;
    width: 340px;
    height: 225px;
    margin-top: -258px;
  }

  .u-section-6 .u-list-1 {
    width: 402px;
    margin-left: -31px;
    margin-right: -31px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
    min-height: 232px;
    grid-gap: 22px 22px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 26px 5px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-1 {
    font-size: 0.75rem;
    margin-top: 48px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 26px 5px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 48px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-6 .u-container-layout-3 {
    padding: 26px 5px;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 48px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: -454px;
    margin-right: 15px;
    margin-left: -15px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 15px;
    margin-bottom: 375px;
  }
} .u-section-7 {
  min-height: 1183px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 33px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 368px;
  order: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 15px;
}

.u-section-7 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 82px 0 8px;
}

.u-section-7 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px 94px 0 8px;
}

.u-section-7 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px 39px 0 0;
}

.u-section-7 .u-icon-1 {
  font-size: 1.6876em;
}

.u-section-7 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 39px 0 0;
}

.u-section-7 .u-icon-2 {
  font-size: 1.6876em;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 263px;
  order: 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-7 .u-image-1 {
  height: 390px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 246px;
  order: 1;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-7 .u-image-2 {
  width: 642px;
  height: 438px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 -72px;
}

.u-section-7 .u-layout-cell-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-text-5 {
  margin: 0 10px;
}

.u-section-7 .u-icon-3 {
  font-size: 1.6876em;
}

.u-section-7 .u-text-6 {
  margin: 20px 10px 0;
}

.u-section-7 .u-icon-4 {
  font-size: 1.6876em;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    height: 375px;
  }

  .u-section-7 .u-image-2 {
    width: 522px;
    height: 328px;
    margin-left: -52px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    height: 493px;
  }

  .u-section-7 .u-image-2 {
    width: 644px;
    height: 428px;
    margin-top: -114px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    height: 370px;
  }

  .u-section-7 .u-image-2 {
    width: 495px;
    height: 359px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-7 .u-image-1 {
    height: 233px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-7 .u-image-2 {
    height: 247px;
    margin-top: 0;
    margin-bottom: -5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 273px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 56px;
  margin-bottom: 56px;
}

.u-section-8 .u-image-1 {
  min-height: 642px;
  background-image: url("images/bern.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 699px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-8 .u-group-1 {
  width: 516px;
  min-height: 246px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 119px 0 -236px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  margin: 40px 0 0 38px;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0 38px;
}

.u-section-8 .u-text-3 {
  margin: 20px 9px 0 0;
}

.u-section-8 .u-icon-1 {
  font-size: 1.6876em;
}

.u-section-8 .u-text-4 {
  margin: 20px 9px 0 0;
}

.u-section-8 .u-icon-2 {
  font-size: 1.6876em;
}

.u-section-8 .u-text-5 {
  margin: 20px 9px 0 0;
}

.u-section-8 .u-icon-3 {
  font-size: 1.6876em;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-top: 165px;
    margin-bottom: -66px;
  }

  .u-section-8 .u-image-1 {
    min-height: 670px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-8 .u-group-1 {
    width: 258px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-top: 336px;
    margin-bottom: -220px;
  }

  .u-section-8 .u-image-1 {
    min-height: 731px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-group-1 {
    width: 192px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 505px;
    margin: 394px 0 60px auto;
  }

  .u-section-8 .u-image-1 {
    min-height: 468px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 0;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 809px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-image-1 {
    min-height: 306px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-8 .u-group-1 {
    width: 405px;
    min-height: 155px;
    margin-right: 35px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }
} .u-section-9 {
  min-height: 627px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 22px;
  margin-bottom: 40px;
}

.u-section-9 .u-layout-cell-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-9 .u-text-1 {
  margin: 0 0 0 17px;
}

.u-section-9 .u-text-2 {
  margin: 11px 0 0 22px;
}

.u-section-9 .u-text-3 {
  margin: 12px 8px 0;
}

.u-section-9 .u-icon-1 {
  font-size: 1.6876em;
}

.u-section-9 .u-text-4 {
  margin: 11px 8px 0;
}

.u-section-9 .u-icon-2 {
  font-size: 1.6876em;
}

.u-section-9 .u-text-5 {
  margin: 11px 8px 0;
}

.u-section-9 .u-icon-3 {
  font-size: 1.6876em;
}

.u-section-9 .u-text-6 {
  margin: 11px 8px 0;
}

.u-section-9 .u-icon-4 {
  font-size: 1.6876em;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 490px;
}

.u-section-9 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-9 .u-image-1 {
  width: 329px;
  height: 338px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-9 .u-image-2 {
  width: 324px;
  height: 341px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -114px 0 0 auto;
}

.u-section-9 .u-layout-cell-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-3 {
  padding: 8px 0;
}

.u-section-9 .u-text-7 {
  margin: 0 0 0 17px;
}

.u-section-9 .u-text-8 {
  margin: 11px 6px 0 17px;
}

.u-section-9 .u-text-9 {
  margin: 12px 8px 0;
}

.u-section-9 .u-icon-5 {
  font-size: 1.6876em;
}

.u-section-9 .u-text-10 {
  margin: 20px 8px 0;
}

.u-section-9 .u-icon-6 {
  font-size: 1.6876em;
}

.u-section-9 .u-line-1 {
  width: 243px;
  margin: 27px auto 0 8px;
}

.u-section-9 .u-text-11 {
  margin: 20px 0 0 17px;
}

.u-section-9 .u-text-12 {
  margin: 20px 6px 0 17px;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 1336px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 25px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    width: 261px;
    margin-left: 38px;
  }

  .u-section-9 .u-image-2 {
    width: 267px;
    margin-right: 21px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 25px;
  }

  .u-section-9 .u-text-7 {
    margin-left: 0;
  }

  .u-section-9 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-line-1 {
    width: 235px;
    margin-left: 0;
  }

  .u-section-9 .u-text-11 {
    margin-left: 0;
  }

  .u-section-9 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-9 .u-image-1 {
    width: 200px;
    margin-left: 29px;
  }

  .u-section-9 .u-image-2 {
    width: 205px;
    margin-right: 16px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-9 .u-line-1 {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-image-1 {
    width: 338px;
    margin-left: 22px;
  }

  .u-section-9 .u-image-2 {
    width: 337px;
    margin-right: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 474px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-left: 11px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-left: 11px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-left: 11px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-left: 11px;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-left: 11px;
  }

  .u-section-9 .u-text-6 {
    width: auto;
    margin-left: 11px;
  }

  .u-section-9 .u-image-1 {
    width: 277px;
    height: 258px;
    margin-left: 0;
  }

  .u-section-9 .u-image-2 {
    width: 286px;
    height: 249px;
    margin-top: -34px;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 371px;
  }

  .u-section-9 .u-text-7 {
    width: auto;
    margin-left: 11px;
  }

  .u-section-9 .u-text-8 {
    width: auto;
    margin-left: 11px;
  }

  .u-section-9 .u-text-9 {
    width: auto;
    margin-top: 11px;
    margin-left: 11px;
  }

  .u-section-9 .u-text-10 {
    width: auto;
    margin-top: 22px;
    margin-left: 11px;
  }

  .u-section-9 .u-line-1 {
    width: 380px;
  }

  .u-section-9 .u-text-11 {
    width: auto;
    margin-left: 11px;
  }

  .u-section-9 .u-text-12 {
    width: auto;
    margin-left: 11px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 280px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 10px auto 0 311px;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -11px auto 60px;
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-left: 238px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-left: 179px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 113px;
    font-size: 1.875rem;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.875rem;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 330px;
}

.u-section-11 .u-list-1 {
  margin-top: -110px;
  margin-bottom: 36px;
}

.u-section-11 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-gap: 30px 30px;
  min-height: 404px;
}

.u-section-11 .u-list-item-1 {
  background-image: none;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 15px auto 0;
}

.u-section-11 .u-text-1 {
  margin: 15px auto 0;
}

.u-section-11 .u-text-2 {
  background-image: none;
  line-height: 3;
  margin: 15px 0 0 37px;
}

.u-section-11 .u-list-item-2 {
  background-image: none;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 15px auto 0;
}

.u-section-11 .u-text-3 {
  margin: 15px auto 0;
}

.u-section-11 .u-text-4 {
  background-image: none;
  line-height: 3;
  margin: 15px 0 0 37px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-11 .u-list-1 {
    height: auto;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
    min-height: 336px;
  }

  .u-section-11 .u-list-item-1 {
    background-size: auto;
  }

  .u-section-11 .u-text-2 {
    margin-right: 37px;
  }

  .u-section-11 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-11 .u-text-4 {
    margin-right: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 189px;
}

.u-section-12 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-12 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  background-image: none;
  margin: 17px auto 40px;
  padding: 0 21px 0 19px;
}

.u-section-12 .u-icon-1 {
  font-size: 1.625em;
}